body {
  color: $gray;
  font-family: $ff-s;
  line-height: 1.6;
  background: $white;
}

h1 {
  color: $accent;
  line-height: 1;
  font-size: 3.125rem;

  span {
    @include sans-serif($fs: 5.5rem, $color: $accent);
    display: block;
  }
}

h2 {
  @include sans-serif($fs: 2rem);
}