@import url('https://fonts.googleapis.com/css?family=Merriweather:400,900|Six+Caps&display=swap');

$ff-s: 'Merriweather', serif;     /* ff-s: font-family serif */
$ff-ss: 'Six Caps', sans-serif;   /* ss: sans-serif */

$fw-n: 400;                       /* fw-n: font-weight normal */
$fw-b: 900;                       /* b: bold */